5#!/bin/bash

REGISTRY=registry.thinhlh.com

docker run \
    --env REACT_APP_BACKEND_URL=${backend_url} \
    --network app_network \
    -p 80:3000 \
    --name web_admin \
    -d \
    $REGISTRY/web_admin:latest